// ====== VARIABLES ======//
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
// font-family: 'Playfair Display', serif;
// font-family: 'Open Sans', sans-serif;
$txt-dark1: #333333;
$txt-dark2: #555555;
$txt-dark3: #989898;
$clr-light-gray1: #ebebeb;
$clr-light-gray2: #f1f1f1;
$transition: all 0.3s ease 0s;
// ====== TYPOGRAPHY ======//
body {
    background: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 26px;
    font-weight: 400;
    color: $txt-dark3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    color: $txt-dark1;
    margin: 0;
}

h1 {
    font-size: 85px;
    line-height: 95px;
}

h2 {
    font-size: 52px;
    line-height: 62px;
}

h3 {
    font-size: 38px;
    line-height: 48px;
}

h4 {
    font-size: 30px;
    line-height: 40px;
}

h5 {
    font-size: 18px;
    line-height: 20px;
}

h6 {
    font-size: 16px;
    line-height: 26px;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 26px;
    color: $txt-dark3;
    margin: 0 0 20px;
}

a {
    transition: $transition;
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

input,
textarea,
select {
    width: 100%;
    height: 45px;
    font-size: 14px;
    line-height: 45px;
    letter-spacing: 1px;
    color: #909090;
    border: 2px solid $clr-light-gray1;
    padding: 0 20px;
    margin: 0 0 30px;
    outline: 0;
}

textarea {
    height: 100px;
    line-height: 24px;
    padding: 10px 20px;
}

input[type="number"] {
    padding: 0 0 0 10px;
    width: 50%;
    margin: 0;
    @media (max-width: 768px) {
        width: 100%;
    }
}

ul,
ol {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}

// ====== BUTTONS ======//
.primary-btn {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 45px;
    letter-spacing: 1.5px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    background: $txt-dark1;
    text-transform: uppercase;
    padding: 0 40px;
    border: 0;
    transition: $transition;
    &:hover,
    &:focus {
        color: $txt-dark1;
        background: #fff;
    }
    &.btn-sml {
        line-height: 40px;
        padding: 0 15px;
    }
    &.btn-xsml {
        line-height: 30px;
        padding: 0 10px;
    }
}

.secondary-btn {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 45px;
    letter-spacing: 1.5px;
    font-weight: 600;
    text-align: center;
    color: $txt-dark1;
    background: $clr-light-gray2;
    text-transform: uppercase;
    padding: 0 40px;
    border: 0;
    transition: $transition;
    &:hover,
    &:focus {
        color: #fff;
        background: $txt-dark1;
    }
    &.btn-sml {
        line-height: 40px;
        padding: 0 15px;
    }
    &.btn-xsml {
        line-height: 30px;
        padding: 0 10px;
    }
}

// ====== COMMON STYLES ======//
section {
    padding: 80px 0;
    @media (max-width: 992px) {
        padding: 60px 0;
    }
    @media (max-width: 768px) {
        padding: 40px 0;
    }
}

.common-title {
    padding: 0 0 60px;
    @media (max-width: 992px) {
        padding: 0 0 40px;
    }
    @media (max-width: 768px) {
        width: 100% !important;
    }
    h2 {
        text-transform: capitalize;
        @media (max-width: 768px) {
            font-size: 42px;
            line-height: 52px;
        }
    }
    p {
        font-weight: 300;
        font-size: 17px;
        line-height: 27px;
        color: $txt-dark2;
        margin: 20px 0 0;
    }
}

.lead {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: $txt-dark1;
    margin: 0 0 35px;
}

.imgLiquid {
    background-size: cover;
    background-position: center;
}

.sticky {
    .navigation {
        background: #fff;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    }
}

.innerpage {
    .header {
        height: 500px;
        background: url(../images/content/banner-img1.jpg);
        @media (max-width: 992px) {
            margin: 70px 0 0;
        }
    }
    &.page-sml {
        .header {
            height: 70px;
        }
    }
}

// ====== NAVIGATION STYLES ======//
.navigation {
    transition: $transition;
    z-index: 9999;
    @media (max-width: 992px) {
        background: #fff;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    }
    .navbar {
        .navbar-toggler {
            outline: 0;
        }
        .navbar-brand {
            img {
                max-width: 200px;
            }
        }
        .navbar-nav {
            align-items: center;
            @media (max-width: 992px) {
                align-items: flex-start;
            }
            .nav-item {
                margin: 0 40px 0 0;
                @media (max-width: 1200px) {
                    margin: 0 20px 0 0;
                }
                @media (max-width: 992px) {
                    margin: 0;
                }
                &.cart {
                    margin: 0;
                    .nav-link {
                        font-size: 0;
                        @media (max-width: 992px) {
                            font-size: 14px;
                        }
                        i {
                            font-size: 14px;
                            line-height: 32px;
                            @media (max-width: 992px) {
                                font-size: 0;
                            }
                        }
                    }
                }
                .nav-link {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: #171717;
                    padding: 0;
                    &:hover,
                    &:focus {
                        opacity: 0.5;
                    }
                }
                &.active {
                    .nav-link {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}

// ====== HEADER STYLES ======//
.header {
    height: 100vh;
    background: url(../images/content/banner-img2.jpg) no-repeat;
    background-size: cover!important;
    background-position: center!important;
    .header-content {
        h1 {
            word-break: break-all;
            padding: 0 0 25px;
            @media (max-width: 768px) {
                font-size: 55px;
                line-height: 65px;
            }
        }
    }
}

// ====== ABOUT SECTION STYLES ======//
.about-section {
    .lead {
        font-size: 40px;
        line-height: 50px;
        color: $txt-dark1;
    }
}

// ====== CUISINES SECTION STYLES ======//
.row-5 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -5px;
    margin-left: -5px;
    .col-md-20p {
        width: 20%;
        padding: 0 5px;
        margin: 0 0 10px;
        @media (max-width: 992px) {
            width: 33.33%;
        }
        @media (max-width: 768px) {
            width: 50%;
        }
    }
}

.cuisines-section {
    .cuisine-item {
        position: relative;
        min-height: 180px;
        a {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 9;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Playfair Display", serif;
            font-size: 18px;
            line-height: 28px;
            text-transform: capitalize;
            color: #fff;
            transition: $transition;
            &:before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.25);
                transition: $transition;
                z-index: -1;
            }
            &:hover,
            &:focus {
                &:before {
                    background: rgba(0, 0, 0, 0.5);
                }
                span {
                    border-bottom: 1px solid #fff;
                }
            }
            span {
                font-weight: 600;
            }
        }
    }
}

// ====== PRODUCTS SECTION STYLES ======//
.products-section {
    .product-item {
        margin: 0 0 30px;
        @media (max-width: 768px) {
            margin: 0 0 20px;
        }
        .product-img {
            min-height: 150px;
            @media (max-width: 768px) {
                min-height: 200px;
            }
        }
        h5 {
            padding: 15px 0;
            text-transform: capitalize;
        }
        p {
            min-height: 110px;
            @media (max-width: 768px) {
                min-height: auto;
            }
        }
        .product-price {
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                color: $txt-dark1;
            }
        }
    }
}

// ====== BOOKING SECTION STYLES ======//
.clockpicker-popover {
    border-radius: 0;
    border: 2px solid $clr-light-gray1;
    font-family: "Open Sans", sans-serif;
    .arrow {
        display: none;
    }
}

.datepicker {
    padding: 12px;
    border-radius: 0;
    border: 2px solid $clr-light-gray1;
}

// ====== NEWSLETTER SECTION STYLES ======//
.newsletter-section {
    @media (max-width: 576px) {
        input {
            margin: 0 0 30px !important;
        }
        .secondary-btn {
            width: 100%;
            display: block;
        }
    }
}

// ====== FOOTER STYLES ======//
.footer {
    p,
    a,
    li {
        font-size: 14px;
        color: #d4d4d4;
    }
    a {
        &:hover,
        &:focus {
            opacity: 0.5;
        }
    }
    .footer-top {
        padding: 60px 0;
        background: #1b1b1b;
        @media (max-width: 768px) {
            padding: 40px 0;
        }
        .footer-block {
            font-size: 14px;
            color: #d4d4d4;
            h6 {
                color: #fff;
                padding: 0 0 10px;
            }
            ul {
                li {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px dotted #fff;
                }
            }
            &.hours {
                @media (max-width: 768px) {
                    margin: 0 0 20px;
                }
            }
        }
    }
    .footer-bottom {
        background: #1b1b1b;
        padding: 0 0 20px;
        text-align: center;
        .copyright {
            margin: 0;
        }
    }
}

// ======INNERPAGE : MENU PAGE STYLES ======//
.menu-section {
    .menu-nav {
        padding: 0 0 60px;
        @media (max-width: 992px) {
            padding: 0 0 40px;
        }
        @media (max-width: 768px) {
            width: 100% !important;
        }
        ul {
            display: table;
            margin: 0 auto;
            border: 0;
            @media (max-width: 768px) {
                display: block;
                text-align: center;
            }
            li {
                display: inline-block;
                margin: 0 15px;
                @media (max-width: 768px) {
                    display: block;
                    margin: 10px 0 0;
                }
                a {
                    font-family: "Playfair Display", serif;
                    font-size: 18px;
                    line-height: 28px;
                    color: $txt-dark1;
                    text-transform: uppercase;
                    border: 0;
                    border-radius: 0;
                    border-bottom: 1px solid $txt-dark1;
                    padding: 0;
                    @media (max-width: 768px) {
                        border: 0;
                    }
                    &:hover,
                    &:focus {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
    .menu-item {
        display: flex;
        align-items: center;
        margin: 0 0 20px;
        @media (max-width: 768px) {
            display: block;
        }
        .menu-item-img {
            min-width: 80px;
            height: 80px;
            @media (max-width: 768px) {
                min-width: auto;
                height: 150px;
            }
        }
        .menu-item-content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 0 0 20px;
            @media (max-width: 992px) {
                padding: 0 0 0 10px;
            }
            @media (max-width: 768px) {
                padding: 15px 0 0;
            }
            h5 {
                letter-spacing: 1px;
                text-transform: uppercase;
                padding: 0 0 10px;
            }
            p {
                margin: 0;
            }
            .item-text {
                @media (max-width: 992px) {
                    width: 50%;
                }
            }
        }
    }
}

.item-price {
    display: flex;
    flex-direction: column;
    text-align: right;
    span {
        color: $txt-dark1;
        padding: 0 0 10px;
    }
}

.modal-content {
    border: 0;
    border-radius: 0;
    .modal-body {
        h6 {
            text-transform: capitalize;
        }
        .single-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

// ======INNERPAGE : CART PAGE STYLES ======//
.cart-section {
    table {
        tbody {
            border: 1px solid #e0dede;
            tr {
                border-bottom: 1px solid #e0dede;
            }
        }
        th,
        td {
            width: 15%;
            color: $txt-dark3;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-align: center;
            padding: 10px;
            vertical-align: middle;
        }
        td {
            font-size: 1rem;
            line-height: 26px;
            letter-spacing: 0;
            text-transform: capitalize;
            .cart-item-img {
                display: block;
                width: 80px;
                height: 80px;
            }
            a {
                color: $txt-dark1;
            }
            &.product-name {
                p,
                li {
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
    }
}

.coupen-field {
    input {
        margin: 0;
        @media (max-width: 992px) {
            margin: 0 0 30px;
        }
    }
}

.subtotal-table {
    margin: 0 0 30px;
    tr {
        border-top: 1px solid #e0dede;
        th,
        td {
            width: 15%;
            color: $txt-dark3;
            font-weight: 400;
            text-align: left!important;
            font-size: 1rem;
            line-height: 26px;
            letter-spacing: 1px;
            text-transform: uppercase;
            padding: 10px;
            vertical-align: middle;
        }
    }
}

// ======INNERPAGE : FAQ PAGE STYLES ======//
.faq-section {
    h4 {
        padding: 0 0 30px;
    }
    h5 {
        padding: 0 0 20px;
    }
}

.basic-form {
    background: $txt-dark2;
    h4,
    p {
        color: #fff;
    }
}

// ======INNERPAGE : CHECKOUT PAGE STYLES ======//
.checkout-section {
    .custom-radio {
        position: relative;
        width: 100%;
        height: 55px;
        font-size: 14px;
        line-height: 55px;
        letter-spacing: 1px;
        color: #909090;
        border: 2px solid $clr-light-gray1;
        padding: 0 20px;
        margin: 0 0 30px;
        input {
            width: auto;
            height: auto;
            font-size: 14px;
            line-height: auto;
            border: 0;
            padding: 0;
            margin: 0;
        }
        label {
            padding: 0 0 0 50px;
            margin: 0;
        }
        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
        }
    }
    .checkout-cart {
        border: 2px solid $clr-light-gray1;
        h5 {
            text-transform: uppercase;
            padding: 15px;
            background: #e8ebeb;
        }
        .cart-item {
            display: flex;
            justify-content: space-between;
            padding: 15px;
            border-bottom: 1px solid #e0dede;
            &:last-child {
                border: 0;
            }
            .cart-text {
                width: 74%;
                p {
                    margin: 0;
                }
                ul {
                    margin: 0 0 0 40px;
                    li {
                        display: list-item;
                        list-style: disc;
                    }
                }
            }
            .cart-price {
                width: 24%;
                text-align: right;
            }
        }
    }
}

// ======INNERPAGE : CONTACT PAGE STYLES ======//
.contact-section {
    ul {
        li {
            display: block;
            font-size: 14px;
            line-height: 24px;
            color: $txt-dark3;
            margin: 0 0 20px;
            &:last-child {
                margin: 0;
            }
            span {
                display: inline-block;
                min-width: 140px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: $txt-dark1;
            }
        }
    }
}

.social-nav {
    display: inline-block;
    li {
        display: inline-block !important;
        margin: 0 15px 0 0 !important;
        a {
            color: $txt-dark3;
            &:hover,
            &:focus {
                color: $txt-dark1;
            }
        }
    }
}

// ======INNERPAGE : SIGNUP & LOGIN PAGE STYLES ======//
.signup-section,
.login-section {
    .basic-form {
        background: #fff;
        border: 2px solid $clr-light-gray1;
        a {
            display: block;
            font-size: 14px;
            line-height: 24px;
            color: $txt-dark1;
            padding: 10px 0 0;
            &:hover,
            &:focus {
                opacity: 0.5;
            }
        }
    }
}

// ======INNERPAGE : ACCOUNT PAGE STYLES ======//
.account-section {
    .nav-tabs {
        border: 0;
        .nav-item {
            display: block;
            border-bottom: 2px solid #fff;
            .nav-link {
                font-family: 'Playfair Display', serif;
                font-weight: 700;
                border: 0;
                border-radius: 0;
                background: $clr-light-gray2;
                color: $txt-dark1;
                text-transform: capitalize;
                &:hover,
                &.active {
                    background: $txt-dark1;
                    color: #fff;
                }
            }
        }
    }
    .tab-content {
        background: #fff;
        padding: 30px;
        border: 2px solid #ebebeb;
        @media (max-width: 992px) {
            padding: 30px 15px;
        }
        h5 {
            margin: 0 0 30px;
            text-transform: capitalize;
        }
        .tab-pane {
            time {
                color: $txt-dark1;
            }
        }
    }
}

.profile-table {
    tr {
        border-bottom: 2px solid #ebebeb;
        th,
        td {
            padding: 10px;
            vertical-align: middle;
            font-size: 14px;
            line-height: 24px;
        }
    }
}

.badge {
    padding: 8px;
}

.pac-container{
          z-index: 3000 !important;
    }
    
    .zone-link{
        font-size: 14px;
        line-height: 24px;
        color: #333333;
        padding: 10px 0 0;
    }
    
    .red-link{
     color: #f23130;
    }
    
.blue-link{
      color: #007bff;
      font-size: 14px;
     }


// ====== ALL STYLES ENDS ======/