@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
body {
  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 26px;
  font-weight: 400;
  color: #636363;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #333333;
  margin: 0;
}

h1 {
  font-size: 72px;
  line-height: 82px;
}

h2 {
  font-size: 52px;
  line-height: 62px;
}

h3 {
  font-size: 38px;
  line-height: 48px;
}

h4 {
  font-size: 30px;
  line-height: 40px;
}

h5 {
  font-size: 18px;
  line-height: 28px;
}

h6 {
  font-size: 16px;
  line-height: 26px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 26px;
  color: #636363;
  margin: 0 0 20px;
}

a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a:hover, a:focus {
  text-decoration: none;
}

input,
textarea,
select {
  width: 100%;
  height: 45px;
  font-size: 14px;
  line-height: 45px;
  letter-spacing: 1px;
  color: #909090;
  border: 2px solid #ebebeb;
  padding: 0 20px;
  margin: 0 0 30px;
  outline: 0;
  border-radius: 3px;
}

textarea {
  height: 100px;
  line-height: 24px;
  padding: 10px 20px;
}

input[type="number"] {
  padding: 0 0 0 10px;
  width: 50%;
  margin: 0;
}

@media (max-width: 768px) {
  input[type="number"] {
    width: 100%;
  }
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul li,
ol li {
  list-style: none;
}

.primary-btn {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 45px;
  letter-spacing: 1.5px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  background: #f23130;
  text-transform: uppercase;
  padding: 0 40px;
  border: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 3px;
}

.primary-btn:hover, .primary-btn:focus {
  color: #333333;
  background: #fff;
}

.primary-btn.btn-sml {
  line-height: 40px;
  padding: 0 15px;
}

.primary-btn.btn-xsml {
  line-height: 30px;
  padding: 0 10px;
}

.secondary-btn {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 45px;
  border-radius: 3px;
  letter-spacing: 1.5px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  background: #f23130;
  text-transform: uppercase;
  padding: 0 40px;
  border: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.secondary-btn:hover, .secondary-btn:focus {
  color: #fff;
  background: #333333;
}

.secondary-btn.btn-sml {
  line-height: 40px;
  padding: 0 15px;
}

.secondary-btn.btn-xsml {
  line-height: 30px;
  padding: 0 10px;
}

section {
  padding: 80px 0;
}

@media (max-width: 992px) {
  section {
    padding: 60px 0;
  }
}

@media (max-width: 768px) {
  section {
    padding: 40px 0;
  }
}

.common-title {
  padding: 0 0 60px;
}

@media (max-width: 992px) {
  .common-title {
    padding: 0 0 40px;
  }
}

@media (max-width: 768px) {
  .common-title {
    width: 100% !important;
  }
}

.common-title h2 {
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .common-title h2 {
    font-size: 42px;
    line-height: 52px;
  }
}

.common-title p {
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
  color: #555555;
  margin: 20px 0 0;
}

.lead {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #333333;
  margin: 0 0 35px;
}

.badge {
  padding: 8px;
}

.imgLiquid {
  background-size: cover;
  background-position: center;
}

.sticky .navigation {
  background: #fff;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.innerpage .header {
  min-height: 320px;
}

@media (max-width: 992px) {
  .innerpage .header {
    margin: 70px 0 0;
  }
}

.innerpage.page-sml .header {
  min-height: 70px;
  padding: 0;
}

.navigation {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 999;
}

@media (max-width: 992px) {
  .navigation {
    background: #fff;
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
            box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  }
}

.navigation .navbar .navbar-toggler {
  outline: 0;
}

.navigation .navbar .navbar-brand img {
  max-width: 200px;
}

.navigation .navbar .navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .navigation .navbar .navbar-nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.navigation .navbar .navbar-nav .nav-item {
  margin: 0 40px 0 0;
}

@media (max-width: 1200px) {
  .navigation .navbar .navbar-nav .nav-item {
    margin: 0 20px 0 0;
  }
}

@media (max-width: 992px) {
  .navigation .navbar .navbar-nav .nav-item {
    margin: 0;
  }
}

.navigation .navbar .navbar-nav .nav-item.cart {
  margin: 0;
}

.navigation .navbar .navbar-nav .nav-item.cart .nav-link {
  font-size: 0;
  position: relative;
}

.navigation .navbar .navbar-nav .nav-item.cart .nav-link .cart-number {
  position: absolute;
  top: -10px;
  left: -15px;
  background: #333333;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 992px) {
  .navigation .navbar .navbar-nav .nav-item.cart .nav-link .cart-number {
    display: none;
  }
}

@media (max-width: 992px) {
  .navigation .navbar .navbar-nav .nav-item.cart .nav-link {
    font-size: 14px;
  }
}

.navigation .navbar .navbar-nav .nav-item.cart .nav-link i {
  font-size: 14px;
  line-height: 32px;
}

@media (max-width: 992px) {
  .navigation .navbar .navbar-nav .nav-item.cart .nav-link i {
    font-size: 0;
  }
}

.navigation .navbar .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #171717;
  padding: 0;
}

.navigation .navbar .navbar-nav .nav-item .nav-link:hover, .navigation .navbar .navbar-nav .nav-item .nav-link:focus {
  color: #f23130;
}

.navigation .navbar .navbar-nav .nav-item.active .nav-link {
  color: #f23130;
}

.header {
  min-height: 100vh;
  padding: 110px 0 70px 0;
}

.header .header-content h1 {
  padding: 0 0 25px;
}

@media (max-width: 768px) {
  .header .header-content h1 {
    font-size: 55px;
    line-height: 65px;
  }
}

.about-section .lead {
  font-size: 40px;
  line-height: 50px;
  color: #333333;
}

.row-5 {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: -5px;
  margin-left: -5px;
}

.row-5 .col-md-20p {
  width: 20%;
  padding: 0 5px;
  margin: 0 0 10px;
}

@media (max-width: 992px) {
  .row-5 .col-md-20p {
    width: 33.33%;
  }
}

@media (max-width: 768px) {
  .row-5 .col-md-20p {
    width: 50%;
  }
}

.cuisines-section .cuisine-item {
  position: relative;
  min-height: 180px;
}

.cuisines-section .cuisine-item a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.cuisines-section .cuisine-item a:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: -1;
}

.cuisines-section .cuisine-item a:hover:before, .cuisines-section .cuisine-item a:focus:before {
  background: rgba(0, 0, 0, 0.5);
}

.cuisines-section .cuisine-item a span {
  font-weight: 600;
  padding: 10px;
  text-align: center;
}

.products-section .product-item {
  margin: 0 0 30px;
}

@media (max-width: 768px) {
  .products-section .product-item {
    margin: 0 0 20px;
  }
}

.products-section .product-item .product-img {
  min-height: 150px;
}

@media (max-width: 768px) {
  .products-section .product-item .product-img {
    min-height: 200px;
  }
}

.products-section .product-item h5 {
  padding: 15px 0;
  text-transform: capitalize;
}

.products-section .product-item .product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-section .product-item .product-price span {
  color: #333333;
}

.clockpicker-popover {
  border-radius: 0;
  border: 2px solid #ebebeb;
  font-family: "Open Sans", sans-serif;
}

.clockpicker-popover .arrow {
  display: none;
}

.datepicker {
  border-radius: 0;
  border: 2px solid #ebebeb;
}

@media (max-width: 576px) {
  .newsletter-section input {
    margin: 0 0 30px !important;
  }
  .newsletter-section .secondary-btn {
    width: 100%;
    display: block;
  }
}

.footer p,
.footer a,
.footer li {
  font-size: 14px;
  color: #d4d4d4;
}

.footer a:hover, .footer a:focus {
  opacity: 0.5;
}

.footer .footer-top {
  padding: 60px 0;
  background: #1b1b1b;
}

@media (max-width: 768px) {
  .footer .footer-top {
    padding: 40px 0;
  }
}

.footer .footer-top .footer-block {
  font-size: 14px;
  color: #d4d4d4;
}

.footer .footer-top .footer-block h6 {
  color: #fff;
  padding: 0 0 10px;
}

.footer .footer-top .footer-block ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px dotted #fff;
}

@media (max-width: 768px) {
  .footer .footer-top .footer-block.hours {
    margin: 0 0 20px;
  }
}

.footer .footer-bottom {
  background: #1b1b1b;
  padding: 0 0 20px;
  text-align: center;
}

.footer .footer-bottom .copyright {
  margin: 0;
}

.footer .social-nav {
  display: block;
  margin: 10px 0 0;
}

.footer .social-nav ul li {
  display: inline-block;
  margin: 0 10px 0 0;
  border-bottom: 0 !important;
}

.footer .social-nav ul li:last-child {
  margin-right: 0;
}

.footer .social-nav ul li a {
  color: #d4d4d4;
}

.menu-section .menu-nav {
  padding: 0 0 60px;
}

@media (max-width: 992px) {
  .menu-section .menu-nav {
    padding: 0 0 40px;
  }
}

@media (max-width: 768px) {
  .menu-section .menu-nav {
    width: 100% !important;
  }
}

.menu-section .menu-nav ul {
  display: table;
  margin: 0 auto;
  border: 0;
}

@media (max-width: 768px) {
  .menu-section .menu-nav ul {
    display: block;
    text-align: center;
  }
}

.menu-section .menu-nav ul li {
  display: inline-block;
  margin: 0 15px;
}

.menu-section .menu-nav ul li a {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .menu-section .menu-nav ul li a {
    border: 0;
  }
}

.menu-section .menu-nav ul li a.active, .menu-section .menu-nav ul li a:hover {
  border-bottom: 1px solid #f23130;
  color: #f23130;
}

@media (max-width: 992px) {
  .menu-section .menu-nav ul li a.active, .menu-section .menu-nav ul li a:hover {
    border-bottom: 0;
  }
}

.menu-section .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 20px;
}

@media (max-width: 768px) {
  .menu-section .menu-item {
    display: block;
  }
}

.menu-section .menu-item .menu-item-img {
  min-width: 80px;
  height: 80px;
  border-radius: 3px;
}

@media (max-width: 768px) {
  .menu-section .menu-item .menu-item-img {
    min-width: auto;
    height: 150px;
  }
}

.menu-section .menu-item .menu-item-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 0 20px;
}

@media (max-width: 992px) {
  .menu-section .menu-item .menu-item-content {
    padding: 0 0 0 10px;
  }
}

@media (max-width: 768px) {
  .menu-section .menu-item .menu-item-content {
    padding: 15px 0 0;
  }
}

.menu-section .menu-item .menu-item-content h5 {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 3px;
}

.menu-section .menu-item .menu-item-content p {
  margin: 0;
}

.menu-section .menu-item .menu-item-content .secondary-btn {
  min-width: 116px;
}

.item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.item-price span {
  color: #333333;
  padding: 0 0 10px;
}

.modal-content {
  border: 0;
  border-radius: 0;
}

.modal-content .modal-body h6 {
  text-transform: capitalize;
}

.modal-content .modal-body .single-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-section table tbody {
  border: 1px solid #e0dede;
}

.cart-section table tbody tr {
  border-bottom: 1px solid #e0dede;
}

.cart-section table th,
.cart-section table td {
  color: #636363;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  vertical-align: middle;
}

.cart-section table td {
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: 0;
  text-transform: capitalize;
}

.cart-section table td .cart-item-img {
  display: block;
  width: 80px;
  height: 80px;
}

.cart-section table td a {
  color: #333333;
}

.cart-section table td.product-name p,
.cart-section table td.product-name li {
  font-size: 14px;
  line-height: 24px;
}

@media (max-width: 576px) {
  .cart-section table td.product-name p,
  .cart-section table td.product-name li {
    font-size: 12px;
    line-height: 22px;
  }
}

.coupen-field input {
  margin: 0;
}

@media (max-width: 992px) {
  .coupen-field input {
    margin: 0 0 30px;
  }
}

.subtotal-table {
  margin: 0 0 30px;
}

.subtotal-table tr {
  border-top: 1px solid #e0dede;
}

.subtotal-table tr th,
.subtotal-table tr td {
  width: 15%;
  color: #636363;
  font-weight: 400;
  text-align: left !important;
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px;
  vertical-align: middle;
}

.faq-section h4 {
  padding: 0 0 30px;
}

.faq-section h5 {
  padding: 0 0 20px;
}

.basic-form {
  background: #555555;
}

.basic-form h4,
.basic-form p {
  color: #fff;
}

.checkout-section .custom-radio {
  position: relative;
  width: 100%;
  height: 55px;
  font-size: 14px;
  line-height: 55px;
  letter-spacing: 1px;
  color: #909090;
  border: 2px solid #ebebeb;
  padding: 0 20px;
  margin: 0 0 30px;
}

.checkout-section .custom-radio input {
  width: auto;
  height: auto;
  font-size: 14px;
  line-height: auto;
  border: 0;
  padding: 0;
  margin: 0;
}

.checkout-section .custom-radio label {
  padding: 0 0 0 50px;
  margin: 0;
}

.checkout-section .custom-radio img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
}

.checkout-section .checkout-cart {
  border: 2px solid #ebebeb;
}

.checkout-section .checkout-cart h5 {
  text-transform: uppercase;
  padding: 15px;
  background: #e8ebeb;
}

.checkout-section .checkout-cart .cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #e0dede;
}

.checkout-section .checkout-cart .cart-item:last-child {
  border: 0;
}

.checkout-section .checkout-cart .cart-item .cart-text p {
  margin: 0;
}

.checkout-section .checkout-cart .cart-item .cart-text ul {
  margin: 0 0 0 40px;
}

.checkout-section .checkout-cart .cart-item .cart-text ul li {
  display: list-item;
  list-style: disc;
}

.checkout-section .checkout-cart .cart-item .cart-price {
  width: 40%;
  text-align: right;
}

.contact-section ul li {
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: #636363;
  margin: 0 0 20px;
}

.contact-section ul li:last-child {
  margin: 0;
}

.contact-section ul li span {
  display: inline-block;
  min-width: 140px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333333;
}

.social-nav {
  display: inline-block;
}

.social-nav li {
  display: inline-block !important;
  margin: 0 15px 0 0 !important;
}

.social-nav li a {
  color: #636363;
}

.social-nav li a:hover, .social-nav li a:focus {
  color: #333333;
}

.signup-section .basic-form,
.login-section .basic-form {
  background: #fff;
  border: 2px solid #ebebeb;
}

.signup-section .basic-form a,
.login-section .basic-form a {
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  padding: 10px 0 0;
}

.signup-section .basic-form a:hover, .signup-section .basic-form a:focus,
.login-section .basic-form a:hover,
.login-section .basic-form a:focus {
  opacity: 0.5;
}

.account-section .nav-tabs {
  border: 0;
}

.account-section .nav-tabs .nav-item {
  display: block;
  border-bottom: 2px solid #fff;
}

.account-section .nav-tabs .nav-item .nav-link {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  border: 0;
  border-radius: 0;
  background: #f1f1f1;
  color: #333333;
  text-transform: capitalize;
}

.account-section .nav-tabs .nav-item .nav-link:hover, .account-section .nav-tabs .nav-item .nav-link.active {
  background: #333333;
  color: #fff;
}

.account-section .tab-content {
  background: #fff;
  padding: 30px;
  border: 2px solid #ebebeb;
}

@media (max-width: 992px) {
  .account-section .tab-content {
    padding: 30px 15px;
  }
}

.account-section .tab-content h5 {
  margin: 0 0 30px;
  text-transform: capitalize;
}

.account-section .tab-content .tab-pane time {
  color: #333333;
}

.profile-table tr {
  border-bottom: 2px solid #ebebeb;
}

.profile-table tr th,
.profile-table tr td {
  padding: 10px;
  vertical-align: middle;
  font-size: 14px;
  line-height: 24px;
}

.profile-table tr th .order-modifiers,
.profile-table tr td .order-modifiers {
  padding-left: 40px;
}

.order-confirmation .card {
  border: 2px solid #ebebeb;
}

.order-confirmation .card .card-header {
  padding: 20px;
  border-bottom: 2px solid #ebebeb;
  background: #f1f1f1;
}

@media (max-width: 576px) {
  .order-confirmation .card .card-header {
    padding: 20px 8px;
  }
}

.order-confirmation .card .card-header i {
  color: green;
  font-size: 80px;
  line-height: 80px;
}

.order-confirmation .card .card-body {
  padding: 20px;
}

@media (max-width: 576px) {
  .order-confirmation .card .card-body {
    padding: 20px 8px;
  }
}

.order-confirmation .card .card-body .confirm-table {
  text-align: left !important;
}

.order-confirmation .card .card-body .confirm-table tr {
  border-bottom: 1px solid #ebebeb;
}

.order-confirmation .card .card-body .confirm-table tr td {
  vertical-align: middle;
  font-size: 14px;
  line-height: 24px;
  color: #636363;
  padding: 5px;
}

.order-confirmation .card .card-body .confirm-table tr td p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

.order-confirmation .card .card-body .confirm-table tr td ul {
  padding: 0 0 0 15px;
}

.order-confirmation .card .card-body .confirm-table tr td ul li {
  list-style: disc;
}

.order-confirmation .card .card-body .confirm-table tr td .imgLiquid {
  display: block;
  height: 80px;
  width: 80px;
}

.password-section .basic-form {
  background: #fff;
  border: 2px solid #ebebeb;
}

.password-section .basic-form a {
  color: #333333;
}

.password-section .basic-form a:hover, .password-section .basic-form a:focus {
  opacity: 0.5;
}
/*# sourceMappingURL=styles.css.map */


/*custom*/


.error-label{
  color: #d93025!important;
  padding: 0;
  margin-top: -29px;
  font-size: 12px;
  text-align: center!important;
}

body {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}

.stripe-button-el{
  display: none !important;
}

.error-label{
      position: absolute;
      left: 0;
      right: 0;
      /*margin:0 auto;*/
}
.product-item{
  display: flex;
  flex-direction: column;
}
.product-item .product-price{
  margin-top: auto;
}